@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 13px;
	background: none repeat scroll 0% 0% #F3F3F3;
	color: #7F8C8C;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #7F8C8C;
    font-weight: 600;
}

p a {
	color: #777;
}

li a:hover {
	text-decoration: underline;
}

li {
	list-style: none outside none;
}

a:focus {
	outline: none;
}

.navbar { 
	background: url(../img/ruler.png) repeat-x 0 100% rgba(98, 185, 176, 0.8);
}

.brand span img{
	margin-bottom: 22px;
}

#main-menu li {
	list-style: none outside none;
}

#main-menu li a {
	color: white;
	text-decoration: none;
}

#main-menu li a:link {
	
}

#main-menu li a span {
    display: block;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 6px;
}

#main-menu li.active a span {
	background: none repeat scroll 0% 0% rgba(98, 162, 158, 0.8);
	box-shadow: 0 2px 0 #528B86;
}

#main-menu li a:hover span {
	background: none repeat scroll 0% 0% rgb(232, 100, 90);
	box-shadow: 0 2px 0 #E2534B;
}

#main-menu {
	margin-top: 20px;
	margin-bottom: 10px;
}

#main-menu .fa-chevron-right {
	font-size: 10px;
	color: white;
	display: inline;
}

.navbar-right .dropdown-menu {
	background-color: rgb(226, 83, 75);
	right: auto;
	left: 10px;
}

.dropdown-menu {
	padding: 0px;
}

.dropdown-menu li {
	border-radius: 3px;
	padding: 5px 15px 5px 15px;	
	margin: 5px;
	background-color: rgba(229, 101, 93, 1);
}

.pull-down {
	padding-top: 12px;
}

.arrow_box { 

} 

.arrow_box:after, .arrow_box:before { 
	bottom: 100%; 
	left: 10%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 

.arrow_box:after { 
	
} 

.arrow_box:before { 
	border-bottom-color: rgb(226, 83, 75); 
	border-width: 8px; 
	margin-left: -8px; 
}

.dropdown-menu li:hover {
	background: none repeat scroll 0% 0% rgb(98, 185, 176);
}

.dropdown-menu li a:hover {
	background: none repeat scroll 0% 0% transparent;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
    color: 1px solid rgb(232, 100, 90);
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border-radius: 6px;
}

.navbar-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-toggle {
	margin-top: 20px;
}

.navbar-header {
	padding-bottom: 8px;
}

#slide-show {
	margin-top: -20px;
}

.carousel-inner div img {
	width: auto;
  	height: 600px;
  	max-height: 600px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	background-size: 100%;
  	min-width: 100%; 
  	min-height: 100%; 
}

.carousel-control {
	position: absolute;
	top: 50%;
	width: 48px;
	height: 55px;
	font-size: 38px;
	text-align: center;	
	background: none repeat scroll 0% 0% rgb(232, 100, 90);
	box-shadow: 0 2px 0 #E2534B;
	border-radius: 0px 6px 6px 0px;
	opacity: 1.0;
  	filter: alpha(opacity=50);
}

.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
}

.carousel-control.right {
  	left: auto;
  	border-radius: 6px 0px 0px 6px;
  	display: block;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
}
.carousel-control:hover {
  background: none repeat scroll 0% 0% rgb(98, 185, 176);
  box-shadow: 0 2px 0 #528B86;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-indicators li {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 5px;
	background: none repeat scroll 0% 0% #7F8C8C;
	border: none;
	cursor: pointer;
	border-radius: 0px;
	margin: 0px 3px;
}


.carousel-indicators li.active {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 5px;
	background: none repeat scroll 0% 0% #E2534B; 
	cursor: pointer;
	border-radius: 0px;
	margin: 0px 3px;
}

.carousel-indicators li:hover {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 5px;
	background: none repeat scroll 0% 0% #E2534B;
	cursor: pointer;
	border-radius: 0px;
	margin: 0px 3px;
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-inner {
   margin-bottom: 40px;
}

.carousel-caption {
	position: absolute;
	text-align: center;
	top: 25%;
	margin: 0px auto;
	max-width: 50%;
}

.carousel-caption h3 {
	display: inline-block;
	background: none repeat scroll 0% 0% #E2534B;
	color: #FFF;
	border-radius: 6px;
	font-weight: 800;
	font-size: 28px;
	line-height: 1;
	padding: 5px;
	margin: 0px auto 10px;
	max-width: 66.6667%;
	text-transform: uppercase;
}

.carousel-caption p {
    color: #FFF;
    font-size: 14px;
    line-height: 1.4;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 6px;
    max-width: 75%;
    margin: 0px auto;
}

div h3 {
	font-weight: 600;
	font-size: 28px;
}
 
p {
	font-size: 13px;
	color: #777;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color:white;
	text-decoration: none;
}

a:focus {
	color:white;
	text-decoration: none;
}

.top-services {
	background: none repeat scroll 0% 0% #ECECEC;
	border-radius: 6px;
	padding: 20px;
	margin-bottom: 30px;
}

.btn-view-more {
	background: none repeat scroll 0% 0% rgb(232, 100, 90);
	box-shadow: 0 2px 0 #E2534B;	
	display: block;
	padding: 14px 0px;	
    border-radius: 6px;
    border-color: none;
    color: #FFF;
	font-weight: 600;
	font-size: 17px;
	text-align: center;	
}

.top-services .col-md-2 {
	padding-left: -10px;
	padding-right: 0px;
}

.btn-view-more:hover{
	background: none repeat scroll 0% 0% rgba(98, 162, 158, 0.8);
	box-shadow: 0 2px 0 #528B86;
}

.module {
	margin-bottom: 40px;
}

.item {
	cursor: pointer;
}

.item-view {	
	background: none repeat scroll 0% 0% #F8F8F8;
	border-radius: 6px;
	box-shadow: 0 3px 0 #E5E6E6;
	height: 329px;
}

/*.thumbnail {
	border: none;
}
*/
.item-view div a i {
    color: #62B9B0;    
	font-weight: 400;
	font-size: 60px;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 0.8em;
	margin: 0px 0px 5px;	
}

.item-view:hover i {
	/*color: rgb(232, 100, 90);    */
}

.item:hover i {
	color: rgb(232, 100, 90);    
}

.item:hover a.float {
	background: none repeat scroll 0% 0% rgb(232, 100, 90);
	box-shadow: 0 2px 0 #E2534B;	
}

.item-title {
	color: #7F8C8C;
    font-weight: 800;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 0.4em;
}

.item-title:hover {
	color: #7F8C8C;
	text-decoration: underline;
}

.item-content {
	line-height: 1.2;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

.float {
	display: block;
    text-align: center;
	font-size: 14px;
	font-weight: 600;
	margin-top: -23px;
	background: none repeat scroll 0% 0% #62B9B0;
	box-shadow: 0 2px 0 #528B86;
}

.float:hover{
	background: none repeat scroll 0% 0% rgb(232, 100, 90);
	box-shadow: 0 2px 0 #E2534B;	
}

.reason {
	background: url(../img/white-ruler.png) repeat-x scroll 0px 0px transparent;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 50px 0px 30px;
	position: relative;
	display: block;	
	height: 580px;
}

.preview-title h3 {
	color: #E2534B;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	font-size: 40px;
	font-weight: 600;
}

.preview-title p {
	text-align: center;
	font-size: 13px;
	color: #777;
	margin: 0px 0px 70px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.coverscroll {
	position: relative;
}

.coverscroll img#pr1 {
	position: absolute;
	height: 306px;
	top: 100px;
	z-index: 136;
	left: 112px;
}

.coverscroll img#pr2 {
	position: absolute;
	width: 512px;
	height: 416px;
	top: 0px;
	left: 315px;
	z-index: 145;
	display: block;
}

.coverscroll img#pr3 {
	position: absolute;
	width: 463px;
	height: 239px;
	top: 154px;
	left: 693px;
	z-index: 135;
	display: block;
}

.msgs {
	padding-top: 105px;
}

.msgs h3 {
	font-size: 16px;
	margin: 0px 0px 30px;
	color: #7F8C8C;
	font-weight: 700;
	text-align: left;
}

.red-arrow {
	color: #E2534B;
	font-size: 12px;
}

.red-link {
	color: #E2534B;
	line-height: 1.8;
}

.blue-link {
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.8;
}

.msgs div ul, .skills ul {
	padding: 0;
	margin: 0;	
}

.msgs div ul li p {
	display: inline-block;
}

.skills {
	text-align: center;
}

.skills ul li {
    padding: 50px 3px;
    display: inline-block;
}

.skills ul li span.skill-70 {
    background-position: 50% -127px;
}

.skills ul li span.skill-80 {
    background-position: 50% -253px;
}

.skills ul li span.skill-100 {
    background-position: 50% -378px;
}

.skills ul li span {
    background-image: url(../img/skillsSprite.png);
    display: inline-block;
	font-size: 30px;
	font-weight: 800;
	margin: 0px 0px 15px;
	min-width: 123px;
	padding: 25px 0px 0px;
}

.skills ul li h4 {
    font-size: 16px;
    color: #7F8C8C;
	font-weight: 600;
	line-height: 1.4;
}

.quote {
	background: none repeat scroll 0% 0% #F8F8F8;
	border-radius: 6px;
	padding: 15px;
	font-style: italic;
	line-height: 1.4;
	width: 100%;
}

.author {
	background: url(../img/bubbleArrow.png) no-repeat scroll 20px 0px transparent;
    padding: 8px 0px 8px 58px;
    font-weight: 600;
    font-size: 16px;
}

.slider-border {
	padding: 0px;
	margin: -25px 0px 14px;
	background: url(../img/sliderBorder.png) no-repeat scroll 100% 50% transparent;
	text-align: right;
	color: black;
}

.client h3 {
	font-size: 16px;
	margin: 0px 0px 30px;
	color: #7F8C8C;
	font-weight: 700;
}

.client-logo .col-md-1{
	border-radius: 6px;
	margin: 20px 60px;
}

.navigator {
	background: none repeat scroll 0% 0% rgb(152, 163, 163);
	box-shadow: 0 3px 0 rgb(127, 140, 140);
	font-size: 26px;
	display: block;
	padding: 6px 14px 1px;
	color: white;
	margin-top: -34px;
}

.navigator:hover {
	color: white;
}

.foot {
	background: url(../img/blue-ruler.jpg) repeat-x scroll 0px 0px rgba(98, 185, 176, 0.8);	
	color: #FFF;
	padding: 40px 0px 20px;	
}

.foot h2, .foot p {
	color: white;
	padding: 10px;
}

.col-md-2 h3 {	
	padding: 15px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 700;
}

.col-md-2 ul li {
	line-height: 2.0;
}

.col-md-4 h3 {
	font-size: 20px; 
	padding: 15px;
	color: white;
	font-weight: 700;
}

.col-md-4 ul li a {
	padding-left: 2.5%;
	float: right;
	width: 75%;
}

.col-md-4 ul li img {
	/*padding-bottom: 13px;*/
	width: 25%;
	border-radius: 6px;
}

.col-md-4 ul li {
	padding-bottom: 13px;
}

#copyright {
	font-size: 11px;
	line-height: 1.5;
	margin: 0px 0px 5px;
	color: white;
	padding: 20px 0px 10px;
}

.social-icon {
	font-size: 25px;
	font-weight: 600;
	color:white;
}

.social-icon li {
	padding: 20px 13px 10px;
	text-align: right;
}

.social-icon li:hover {
	color: #E2534B;
}

.contact {
	background: none repeat scroll 0% 0% rgb(106, 179, 172);
}

